# ETL with Spark (Local) connect with S3

In [1]:
from pyspark import SparkConf
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, sum
from pyspark.sql.types import IntegerType, FloatType

In [2]:
AWS_ACCESS_KEY_ID = "ASIA3E3XWK2FN6HQVXPT"
AWS_SECRET_ACCESS_KEY = "4hos5ofoOpulwpdkuSqruoEfDIFYp0D91mLpfcT0"
AWS_SESSION_TOKEN = "FwoGZXIvYXdzEEcaDIYw6ZFsThK/tufZ7SLQAYMOoFHqB4jm8Lcq46/0esVLgJLCgz3RrWCbqD5paptHv0DUHlVa2Ugtxuai2WV+1Bgxt7GnY/kkYu1L3QGAc9QH5UXYnyrBVary1+Eh2ls1zxaci36brLvDiKAqdU6s4E6qXrDBY9Vo87E11IsnIG+iH4wP5Ue1+5tQx42dB9+b7f/PLN+KHz+wTax64lQUvCgbzazjyNVQaovIH7B4FM8j49U+9xuK9VSpeSu/oCWOe1DNZEPDhTF270wevEwimsGUvLZLJTtJLegHGX9lhMMo7ffMnAYyLev1D/pf8vyVTWhk47qIPviGushrnfpD6q9sVYpICUqzcCmbbzEIbd7JTVU/Ng=="

In [3]:
conf = SparkConf()
conf.set("spark.jars.packages", "org.apache.hadoop:hadoop-aws:3.2.2")
conf.set("spark.hadoop.fs.s3a.aws.credentials.provider", "org.apache.hadoop.fs.s3a.TemporaryAWSCredentialsProvider")
conf.set("spark.hadoop.fs.s3a.access.key", AWS_ACCESS_KEY_ID)
conf.set("spark.hadoop.fs.s3a.secret.key", AWS_SECRET_ACCESS_KEY)
conf.set("spark.hadoop.fs.s3a.session.token", AWS_SESSION_TOKEN)

In [4]:
spark = SparkSession.builder.config(conf=conf).getOrCreate()

In [5]:
path = 's3a://brazilian-bucket/'
file1 = path + 'olist_customers_dataset.csv'
file2 = path + 'olist_order_items_dataset.csv'
file3 = path + 'olist_order_payments_dataset.csv'
file4 = path + 'olist_orders_dataset.csv'
file5 = path + 'olist_products_dataset.csv'
file6 = path + 'olist_sellers_dataset.csv'
file7 = path + 'product_category_name_translation.csv'

In [6]:
file1

's3a://brazilian-bucket/olist_customers_dataset.csv'

In [7]:
df_customers = spark.read.csv(file1, header=True)

In [8]:
df_customers.show(5)

+--------------------+--------------------+------------------------+--------------------+--------------+
|         customer_id|  customer_unique_id|customer_zip_code_prefix|       customer_city|customer_state|
+--------------------+--------------------+------------------------+--------------------+--------------+
|06b8999e2fba1a1fb...|861eff4711a542e4b...|                   14409|              franca|            SP|
|18955e83d337fd6b2...|290c77bc529b7ac93...|                   09790|sao bernardo do c...|            SP|
|4e7b3e00288586ebd...|060e732b5b29e8181...|                   01151|           sao paulo|            SP|
|b2b6027bc5c5109e5...|259dac757896d24d7...|                   08775|     mogi das cruzes|            SP|
|4f2d8ab171c80ec83...|345ecd01c38d18a90...|                   13056|            campinas|            SP|
+--------------------+--------------------+------------------------+--------------------+--------------+
only showing top 5 rows

In [9]:
df_order_item= spark.read.csv(file2, header=True)

In [10]:
df_order_item=df_order_item.withColumn("price", col("price")*1.0)
df_order_item=df_order_item.withColumn("freight_value", col("freight_value")*1.0)

In [11]:
df_order_item.show(3)

+--------------------+-------------+--------------------+--------------------+-------------------+-----+-------------+
|            order_id|order_item_id|          product_id|           seller_id|shipping_limit_date|price|freight_value|
+--------------------+-------------+--------------------+--------------------+-------------------+-----+-------------+
|00010242fe8c5a6d1...|            1|4244733e06e7ecb49...|48436dade18ac8b2b...|2017-09-19 09:45:35| 58.9|        13.29|
|00018f77f2f0320c5...|            1|e5f2d52b802189ee6...|dd7ddc04e1b6c2c61...|2017-05-03 11:05:13|239.9|        19.93|
|000229ec398224ef6...|            1|c777355d18b72b67a...|5b51032eddd242adc...|2018-01-18 14:48:30|199.0|        17.87|
+--------------------+-------------+--------------------+--------------------+-------------------+-----+-------------+
only showing top 3 rows

In [12]:
df_order_item.printSchema()

root
 |-- order_id: string (nullable = true)
 |-- order_item_id: string (nullable = true)
 |-- product_id: string (nullable = true)
 |-- seller_id: string (nullable = true)
 |-- shipping_limit_date: string (nullable = true)
 |-- price: double (nullable = true)
 |-- freight_value: double (nullable = true)

In [13]:
df_order_item=df_order_item.groupBy('order_id','product_id','seller_id') \
    .agg(sum("freight_value").alias("freight_value"), \
         sum("price").alias("price"), \
     )

In [14]:
df_order_item.show(5)

+--------------------+--------------------+--------------------+-------------+-----+
|            order_id|          product_id|           seller_id|freight_value|price|
+--------------------+--------------------+--------------------+-------------+-----+
|005e5166e99d1e4d0...|03bb24d19ea7449ce...|e9bc59e7b60fc3063...|         16.6|120.1|
|0070092bb6004faaf...|31a2f42a87890f87d...|4c03b9dd4c11ee2cb...|        14.06|149.0|
|014e78d1239f19fdc...|394b16cd32e9f8833...|8b321bb669392f516...|         14.1| 14.4|
|01786fff06f2f7e8a...|382132cf96c88a277...|b2ba3715d723d2451...|         9.34| 59.9|
|01c4766d43d50d892...|639cacc61d50ee820...|3361277dc30b7cccd...|        18.23|35.89|
+--------------------+--------------------+--------------------+-------------+-----+
only showing top 5 rows

In [15]:
df_payments= spark.read.csv(file3, header=True)

In [16]:
df_payments.show(5)

+--------------------+------------------+------------+--------------------+-------------+
|            order_id|payment_sequential|payment_type|payment_installments|payment_value|
+--------------------+------------------+------------+--------------------+-------------+
|b81ef226f3fe1789b...|                 1| credit_card|                   8|        99.33|
|a9810da82917af2d9...|                 1| credit_card|                   1|        24.39|
|25e8ea4e93396b6fa...|                 1| credit_card|                   1|        65.71|
|ba78997921bbcdc13...|                 1| credit_card|                   8|       107.78|
|42fdf880ba16b47b5...|                 1| credit_card|                   2|       128.45|
+--------------------+------------------+------------+--------------------+-------------+
only showing top 5 rows

In [17]:
df_payments.printSchema()

root
 |-- order_id: string (nullable = true)
 |-- payment_sequential: string (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- payment_installments: string (nullable = true)
 |-- payment_value: string (nullable = true)

In [18]:
df_payments=df_payments.withColumn("payment_value", col("payment_value")*1.0)

In [19]:
df_payments.printSchema()

root
 |-- order_id: string (nullable = true)
 |-- payment_sequential: string (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- payment_installments: string (nullable = true)
 |-- payment_value: double (nullable = true)

In [20]:
df_payments=df_payments.groupBy('order_id','payment_type') \
    .agg(sum("payment_value").alias("payment_value"), \
     )

In [21]:
df_payments.show(5)

+--------------------+------------+------------------+
|            order_id|payment_type|     payment_value|
+--------------------+------------+------------------+
|298fcdf1f73eb413e...| credit_card|             96.12|
|d9b53f70b57a028c3...| credit_card|             24.29|
|cf014dc8804713618...|     voucher|107.49000000000001|
|c85ea30e9a24abecb...| credit_card|             72.98|
|873d039c319333bd4...| credit_card|             98.25|
+--------------------+------------+------------------+
only showing top 5 rows

In [22]:
df_orders= spark.read.csv(file4, header=True)

In [23]:
df_orders.show(5)

+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
|            order_id|         customer_id|order_status|order_purchase_timestamp|  order_approved_at|order_delivered_carrier_date|order_delivered_customer_date|order_estimated_delivery_date|
+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
|e481f51cbdc54678b...|9ef432eb625129730...|   delivered|     2017-10-02 10:56:33|2017-10-02 11:07:15|         2017-10-04 19:55:00|          2017-10-10 21:25:13|          2017-10-18 00:00:00|
|53cdb2fc8bc7dce0b...|b0830fb4747a6c6d2...|   delivered|     2018-07-24 20:41:37|2018-07-26 03:24:27|         2018-07-26 14:31:00|          2018-08-07 15:27:45|          2018-08-13 00:00:00|
|47770eb9100c2d0c4...|41ce2a54c0b03bf34...|   delivered|     2018-08-08 08:38:49|2018-08-08 08:55:23|         2018-08-08 13:50:00|          2018-08-17 18:06:29|          2018-09-04 00:00:00|
|949d5b44dbf5de918...|f88197465ea7920ad...|   delivered|     2017-11-18 19:28:06|2017-11-18 19:45:59|         2017-11-22 13:39:59|          2017-12-02 00:28:42|          2017-12-15 00:00:00|
|ad21c59c0840e6cb8...|8ab97904e6daea886...|   delivered|     2018-02-13 21:18:39|2018-02-13 22:20:29|         2018-02-14 19:46:34|          2018-02-16 18:17:02|          2018-02-26 00:00:00|
+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
only showing top 5 rows

In [24]:
df_orders.printSchema()

root
 |-- order_id: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- order_status: string (nullable = true)
 |-- order_purchase_timestamp: string (nullable = true)
 |-- order_approved_at: string (nullable = true)
 |-- order_delivered_carrier_date: string (nullable = true)
 |-- order_delivered_customer_date: string (nullable = true)
 |-- order_estimated_delivery_date: string (nullable = true)

In [25]:
df_products= spark.read.csv(file5, header=True)

In [26]:
df_products.show(5)

+--------------------+---------------------+-------------------+--------------------------+------------------+----------------+-----------------+-----------------+----------------+
|          product_id|product_category_name|product_name_lenght|product_description_lenght|product_photos_qty|product_weight_g|product_length_cm|product_height_cm|product_width_cm|
+--------------------+---------------------+-------------------+--------------------------+------------------+----------------+-----------------+-----------------+----------------+
|1e9e8ef04dbcff454...|           perfumaria|                 40|                       287|                 1|             225|               16|               10|              14|
|3aa071139cb16b67c...|                artes|                 44|                       276|                 1|            1000|               30|               18|              20|
|96bd76ec8810374ed...|        esporte_lazer|                 46|                       250|                 1|             154|               18|                9|              15|
|cef67bcfe19066a93...|                bebes|                 27|                       261|                 1|             371|               26|                4|              26|
|9dc1a7de274444849...| utilidades_domest...|                 37|                       402|                 4|             625|               20|               17|              13|
+--------------------+---------------------+-------------------+--------------------------+------------------+----------------+-----------------+-----------------+----------------+
only showing top 5 rows

In [27]:
df_products.printSchema()

root
 |-- product_id: string (nullable = true)
 |-- product_category_name: string (nullable = true)
 |-- product_name_lenght: string (nullable = true)
 |-- product_description_lenght: string (nullable = true)
 |-- product_photos_qty: string (nullable = true)
 |-- product_weight_g: string (nullable = true)
 |-- product_length_cm: string (nullable = true)
 |-- product_height_cm: string (nullable = true)
 |-- product_width_cm: string (nullable = true)

In [28]:
df_sellers= spark.read.csv(file6, header=True)

In [29]:
df_sellers.show(5)

+--------------------+----------------------+-----------------+------------+
|           seller_id|seller_zip_code_prefix|      seller_city|seller_state|
+--------------------+----------------------+-----------------+------------+
|3442f8959a84dea7e...|                 13023|         campinas|          SP|
|d1b65fc7debc3361e...|                 13844|       mogi guacu|          SP|
|ce3ad9de960102d06...|                 20031|   rio de janeiro|          RJ|
|c0f3eea2e14555b6f...|                 04195|        sao paulo|          SP|
|51a04a8a6bdcb23de...|                 12914|braganca paulista|          SP|
+--------------------+----------------------+-----------------+------------+
only showing top 5 rows

In [30]:
df_sellers.printSchema()

root
 |-- seller_id: string (nullable = true)
 |-- seller_zip_code_prefix: string (nullable = true)
 |-- seller_city: string (nullable = true)
 |-- seller_state: string (nullable = true)

In [31]:
df_translate= spark.read.csv(file7, header=True)

In [32]:
df_translate.show(5)

+---------------------+-----------------------------+
|product_category_name|product_category_name_english|
+---------------------+-----------------------------+
|         beleza_saude|                health_beauty|
| informatica_acess...|         computers_accesso...|
|           automotivo|                         auto|
|      cama_mesa_banho|               bed_bath_table|
|     moveis_decoracao|              furniture_decor|
+---------------------+-----------------------------+
only showing top 5 rows

In [33]:
df_translate.printSchema()

root
 |-- product_category_name: string (nullable = true)
 |-- product_category_name_english: string (nullable = true)

# Create a table with necessary features for sales analysis

In [34]:
df_customers.createOrReplaceTempView("customers")
df_order_item.createOrReplaceTempView("order_item")
df_payments.createOrReplaceTempView("payments")
df_orders.createOrReplaceTempView("orders")
df_products.createOrReplaceTempView("products")
df_sellers.createOrReplaceTempView("sellers")
df_translate.createOrReplaceTempView("translate_cat")

In [35]:
#Create a customer table
table_customers = spark.sql("""
    select
        customer_id
        , customer_state
    from
        customers
""")
destination = "customers"
table_customers.write.mode("overwrite").csv(destination)

In [36]:
table_customers.createOrReplaceTempView("table_customers")

In [37]:
table_customers.show(3)

+--------------------+--------------+
|         customer_id|customer_state|
+--------------------+--------------+
|06b8999e2fba1a1fb...|            SP|
|18955e83d337fd6b2...|            SP|
|4e7b3e00288586ebd...|            SP|
+--------------------+--------------+
only showing top 3 rows

In [38]:
print((table_customers.count(), len(table_customers.columns)))

(99441, 2)

In [39]:
#Create a order_item table
table_order_item = spark.sql("""
    select
        order_id
        , product_id
        , seller_id
        , price
        , freight_value
    from
        order_item
""")
destination = "order_item"
table_order_item.write.mode("overwrite").csv(destination)

In [40]:
table_order_item.createOrReplaceTempView("table_order_item")

In [41]:
table_order_item.show(3)

+--------------------+--------------------+--------------------+-----+-------------+
|            order_id|          product_id|           seller_id|price|freight_value|
+--------------------+--------------------+--------------------+-----+-------------+
|005e5166e99d1e4d0...|03bb24d19ea7449ce...|e9bc59e7b60fc3063...|120.1|         16.6|
|0070092bb6004faaf...|31a2f42a87890f87d...|4c03b9dd4c11ee2cb...|149.0|        14.06|
|014e78d1239f19fdc...|394b16cd32e9f8833...|8b321bb669392f516...| 14.4|         14.1|
+--------------------+--------------------+--------------------+-----+-------------+
only showing top 3 rows

In [42]:
print((table_order_item.count(), len(table_order_item.columns)))

(102425, 5)

In [43]:
#Create a payments table
table_payments = spark.sql("""
    select
        *
    from
        payments
""")
destination = "payments"
table_payments.write.mode("overwrite").csv(destination)

In [44]:
table_payments.createOrReplaceTempView("table_payments")

In [45]:
table_payments.show(3)

+--------------------+------------+------------------+
|            order_id|payment_type|     payment_value|
+--------------------+------------+------------------+
|298fcdf1f73eb413e...| credit_card|             96.12|
|d9b53f70b57a028c3...| credit_card|             24.29|
|cf014dc8804713618...|     voucher|107.49000000000001|
+--------------------+------------+------------------+
only showing top 3 rows

In [46]:
print((table_payments.count(), len(table_payments.columns)))

(101686, 3)

In [47]:
#Create a orders table
table_orders = spark.sql("""
    select
        order_id
        , customer_id
        , order_status
        , order_purchase_timestamp as order_date
    from
        orders
""")
destination = "orders"
table_orders.write.mode("overwrite").csv(destination)

In [48]:
table_orders.createOrReplaceTempView("table_orders")

In [49]:
table_orders.show(3)

+--------------------+--------------------+------------+-------------------+
|            order_id|         customer_id|order_status|         order_date|
+--------------------+--------------------+------------+-------------------+
|e481f51cbdc54678b...|9ef432eb625129730...|   delivered|2017-10-02 10:56:33|
|53cdb2fc8bc7dce0b...|b0830fb4747a6c6d2...|   delivered|2018-07-24 20:41:37|
|47770eb9100c2d0c4...|41ce2a54c0b03bf34...|   delivered|2018-08-08 08:38:49|
+--------------------+--------------------+------------+-------------------+
only showing top 3 rows

In [50]:
print((table_orders.count(), len(table_orders.columns)))

(99441, 4)

In [51]:
#Create a products table
table_products = spark.sql("""
    select
        product_id
        , product_category_name
    from
        products
""")
destination = "products"
table_products.write.mode("overwrite").csv(destination)

In [52]:
table_products.createOrReplaceTempView("table_products")

In [53]:
table_products.show(3)

+--------------------+---------------------+
|          product_id|product_category_name|
+--------------------+---------------------+
|1e9e8ef04dbcff454...|           perfumaria|
|3aa071139cb16b67c...|                artes|
|96bd76ec8810374ed...|        esporte_lazer|
+--------------------+---------------------+
only showing top 3 rows

In [54]:
print((table_products.count(), len(table_products.columns)))

(32951, 2)

In [55]:
#Create a sellers table
table_sellers = spark.sql("""
    select
        seller_id
        , seller_state
    from
        sellers
""")
destination = "sellers"
table_sellers.write.mode("overwrite").csv(destination)

In [56]:
table_sellers.createOrReplaceTempView("table_sellers")

In [57]:
table_sellers.show(3)

+--------------------+------------+
|           seller_id|seller_state|
+--------------------+------------+
|3442f8959a84dea7e...|          SP|
|d1b65fc7debc3361e...|          SP|
|ce3ad9de960102d06...|          RJ|
+--------------------+------------+
only showing top 3 rows

In [58]:
print((table_sellers.count(), len(table_sellers.columns)))

(3095, 2)

In [59]:
#Create a sellers table
table_translate_cat = spark.sql("""
    select
        *
    from
        translate_cat
""")
destination = "translate_cat"
table_translate_cat.write.mode("overwrite").csv(destination)

In [60]:
table_translate_cat.createOrReplaceTempView("table_translate_cat")

In [61]:
table_translate_cat.show(3)

+---------------------+-----------------------------+
|product_category_name|product_category_name_english|
+---------------------+-----------------------------+
|         beleza_saude|                health_beauty|
| informatica_acess...|         computers_accesso...|
|           automotivo|                         auto|
+---------------------+-----------------------------+
only showing top 3 rows

In [62]:
print((table_translate_cat.count(), len(table_translate_cat.columns)))

(71, 2)

In [73]:
final_table = spark.sql("""
    select
        o.order_id
        , o.customer_id
        , i.seller_id
        , i.product_id
        , o.order_status
        , month(o.order_date) as month
        , year(o.order_date) as year
        , p.payment_type
        , c.customer_state
        , s.seller_state
        , t.product_category_name_english
        , p.payment_value
        , i.price
        , i.freight_value
    from table_orders o
    inner join table_order_item i
        on o.order_id = i.order_id
    inner join table_customers c
        on o.customer_id = c.customer_id
    inner join table_payments p
        on o.order_id = p.order_id
    inner join table_sellers s
        on i.seller_id = s.seller_id
    inner join table_products pr
        on i.product_id = pr.product_id
    left join table_translate_cat t
        on pr.product_category_name = t.product_category_name
        
""")

In [76]:
final_table.show(3)

+--------------------+--------------------+--------------------+--------------------+------------+-----+----+------------+--------------+------------+-----------------------------+-------------+-----+-------------+
|            order_id|         customer_id|           seller_id|          product_id|order_status|month|year|payment_type|customer_state|seller_state|product_category_name_english|payment_value|price|freight_value|
+--------------------+--------------------+--------------------+--------------------+------------+-----+----+------------+--------------+------------+-----------------------------+-------------+-----+-------------+
|005e5166e99d1e4d0...|0f2a7baf176f693c2...|e9bc59e7b60fc3063...|03bb24d19ea7449ce...|   delivered|    2|2018|      boleto|            SC|          PR|         computers_accesso...|        136.7|120.1|         16.6|
|0070092bb6004faaf...|399d1e628c48b7c3b...|4c03b9dd4c11ee2cb...|31a2f42a87890f87d...|   delivered|    7|2017| credit_card|            SP|          SP|                         toys|       163.06|149.0|        14.06|
|014e78d1239f19fdc...|bd5dee4ca2945a0ec...|8b321bb669392f516...|394b16cd32e9f8833...|   delivered|    1|2018| credit_card|            RS|          SP|                  electronics|         28.5| 14.4|         14.1|
+--------------------+--------------------+--------------------+--------------------+------------+-----+----+------------+--------------+------------+-----------------------------+-------------+-----+-------------+
only showing top 3 rows

In [74]:
print((final_table.count(), len(final_table.columns)))

(104745, 14)

In [75]:
final_table.write.partitionBy("year", "month").mode("overwrite").csv("s3a://brazilian-bucket/final_table.csv")